@model tab_it.Models.ViewModels.IdentityUserListItemViewModel

<h1>Delete User</h1>

<hr />
<h5>Are you sure you want to delete this user?</h5>

<dl class="row">
    <dt class="col-sm-3">Username</dt>
    <dd class="col-sm-9">@Model.UserName</dd>
    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">@Model.Email</dd>
    <dt class="col-sm-3">Roles</dt>
    <dd class="col-sm-9">@(Model.Roles.Count == 0 ? "No roles" : string.Join(", ", Model.Roles))</dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Cancel</a>
</form>
